 <!-- Title : FLIGHT BOOKING
 Author : TAMILARASAN M
 Created At : 24-03-2024
 Last Modified Date : 08-06-2024
 Reviewed By :
 Review Date : -->

<div class="confirm-body">
  <div class="confirm-box">
    <div class="check-img" style="margin-left: 0px;">
      <img src="/images/green-check.jpg" alt="green-check" />
    </div>
    <h2 style="margin-left: 0px; margin-top: 20px;">Congratulations, Your flight booking is confirmed.</h2>
    <h2 style="margin-left: 0px;">Thanks!</h2>
    <a href="/home" class="btn-link">
      <button type="button" class="btn" style="margin-top: 10px;">
        Back to Home
      </button>
    </a>
  </div>
</div>
