 <!-- Title : FLIGHT BOOKING
 Author : TAMILARASAN M
 Created At : 24-03-2024
 Last Modified Date : 08-06-2024
 Reviewed By :
 Review Date : -->

<nav class="nav_bar">
  <div class="nav__logo">FLIGHT BOOKING</div>
  <ul class="nav__links">
    <li class="link"><a href="/home">Home</a></li>
    <li class="link"><a href="/destinations">Popular Destinations</a></li>
    <li class="link"><a href="/mybookings">MY Bookings</a></li>
    <li class="link"><a>About</a></li>
  </ul>
  <button class="btn"><a href="" style="color: white;">LOGOUT</a></button>
</nav>
