 /* Title : FLIGHT BOOKING
 Author : TAMILARASAN M
 Created At : 24-03-2024
 Last Modified Date : 08-06-2024
 Reviewed By :
 Review Date : */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");


.passenger-section {
    display: flex;
    height: 87vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f1f5f9;
}

.passenger-wrapper {
    height: auto;
    max-width: 850px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.passenger-header {
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.passenger-form-label {
    height: 30px;
    margin: 20px;
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.passenger-form-button {
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    padding: 0.75rem 2rem;
    outline: none;
    background-color: #334c99;
    color: white;
}

.button-container {
    margin-top: 35px;
    text-align: center;
}

.passenger-form-button:hover {
    background-color: white;
    color: #334c99;
    border: #334c99 solid 1px;
}

.passenger-input,
.passenger-textarea,
.passenger-select {
    margin-left: 10px;
    height: 30px;
    outline: none;
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
}

.passenger-input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.passenger-input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-button {
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #3d5cb8;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    text-decoration: none;
}

.general-button:hover {
    background-color: #334c99;
}

.passenger-header-title {
    text-align: center;
    margin-bottom: 15px;
}
