<!-- Title : FLIGHT BOOKING
Author : TAMILARASAN M
Created At : 24-05-2024
Last Modified Date : 08-07-2024
Reviewed By :
Review Date : -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title> FLIGHT BOOKING </title>
  </head>
  <body class="Home">
    <nav>
      <div class="nav__logo">FLIGHT BOOKING</div>
      <ul class="nav__links">
        <li class="link"><a>Home</a></li>
        <li class="link"><a onclick="login_msg()">Popular Destinations</a></li>
        <li class="link"><a onclick="login_msg()">MY Bookings</a></li>
        <li class="link"><a href="#about_footer">About</a></li>
      </ul>
      <a href="/login"><button class="btn">LOGIN</button></a>
    </nav>
    <header class="section__container header__container">
      <h1 class="section__header">FLIGHT BOOKING</h1>
    </header>
    <section class="section__container booking__container">
      <div class="booking__nav">
        <span class="cbnt" onclick="classType(0)">Business Class</span>
        <span class="cbnt" onclick="classType(1)">Economy Class</span>
        <span class="cbnt" onclick="classType(2)">&nbsp;&nbsp;&nbsp;&nbsp;First Class&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      <form>
        <div class="form__group">
          <span><i class="ri-map-pin-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <select id="fromLocation" name="fromLocation" class="location-select" required>
                <option value="" disabled selected>From Location</option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
                <option value="Houston">Houston</option>
              </select>
            </div>
            <p>What is your current location?</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-map-pin-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <select id="toLocation" name="toLocation" class="location-select" required>
                <option value="" disabled selected>To Location</option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
                <option value="Houston">Houston</option>
              </select>
            </div>
            <p>Where are you going?</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-calendar-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input type="date" name="departureDate" id="departuredate" required/>
              <label>Departure</label>
            </div>
            <p>Add date</p>
          </div>
        </div>
        <div class="form__group">
          <span><i class="ri-calendar-line"></i></span>
          <div class="input__content">
            <div class="input__group">
              <input type="date" name="returnDate" id="returndate" />
              <label>Return</label>
            </div>
            <p>Add date (optional)</p>
          </div>

        </div>
        <input type="hidden" name="classType" id="classInput" />

        <button type="submit" class="btn" id="search-submit">
          <i class="ri-search-line"></i>
        </button>
      </form>
    </section>
    <div class="top-destinations">
        <h1>Top Destinations</h1>
        <div class="destinations_container">
            <div>
              <img src="/images/paris.jpg" alt="Paris">
              <h2>Paris</h2>
            </div>
            <div>
              <img src="/images/new_york.jpg" alt="New York">
              <h2>New York</h2>
            </div>
            <div>
              <img src="/images/tokyo.jpg" alt="Tokyo">
              <h2>Tokyo</h2>
            </div>
            <div>
              <img src="/images/dubai.jpg" alt="Dubai">
              <h2>Dubai</h2>
            </div>
            <div>
              <img src="/images/australia.jpg" alt="Australia">
              <h2>Australia</h2>
            </div>
            <div>
              <img src="/images/korea.jpg" alt="Brazil">
              <h2>Korea</h2>
            </div>
          </div>
    </div>
    <div class="home_content">
      <img src="/images/flight_world.jpg" alt="flight image" style="width:500px; height:fit-content; margin-left: 10%;margin-right: 10%;border-radius: 30%;">
      <div class="terms_condition">
        <h1>Terms and Conditions</h1>
        <h3>Reservation Process<h3>
        <p>Users must provide accurate information during booking, and confirmation emails serve as proof of transactions.</p>
        <h3>Cancellation and Refunds<h3>
        <p>Users can cancel bookings according to specified policies, with refunds subject to applicable fees.</p>
        <h3>Privacy and Security<h3>
        <p>User data is handled securely and used only for booking purposes, in compliance with the privacy policy.</p>
      </div>
    </div>
    <div class="feedback_container">
        <h1>Clients Feedback</h1>
        <div class="feedback">
            <div class="feedback_item">
                <img src="/images/profile1.jpg" alt="Profile 1" class="profile_pic">
                <h2>Elon Musk</h2>
                <p>"Amazing experience! The booking process was incredibly smooth, and the support team was very helpful."</p>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="feedback_item">
                <img src="/images/profile2.jpg" alt="Profile 2" class="profile_pic">
                <h2>Cristiano Ronaldo</h2>
                <p>"I love how user-friendly the platform is. I could find and book my flight in no time. Excellent service!"</p>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="feedback_item">
                <img src="/images/profile3.jpg" alt="Profile 3" class="profile_pic">
                <h2>David Goggins</h2>
                <p>"Hands down the best booking experience I’ve had! Quick, efficient, and great prices. Highly recommend!"</p>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐</span>
                </div>
            </div>
        </div>
    </div> 
    <section class="subscribe">
        <div class="section__container subscribe__container">
          <h2 class="section__header">Subscribe & Get Latest Information </h2>
          <form class="subscribe__form">
            <input type="text" placeholder="Enter your email here" id="subscribe_email" />
            <button class="btn" type="submit" onclick="thanks_msg()">Subscribe</button>
          </form>
        </div>
    </section>   
    
    <footer class="footer" id="about_footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3>FLIGHT BOOKING</h3>
          <p>
            Where Excellence Takes Flight. With a strong commitment to customer
            satisfaction and a passion for air travel, Airlines offers
            exceptional service and seamless journeys.
          </p>
          <p>
            From friendly smiles to state-of-the-art aircraft, we connect the
            world, ensuring safe, comfortable, and unforgettable experiences.
          </p>
        </div>
        <div class="footer__col">
          <h4>INFORMATION</h4>
          <p>Home</p>
          <p>About</p>
          <p>Popular Destinations</p>
        </div>
        <div class="footer__col">
          <h4>CONTACT</h4>
          <p>Support</p>
          <p>Media</p>
          <p>Socials</p>
        </div>
      </div>
      <div class="section__container footer__bar">
        <p>Copyright © 2024 Web Design Mastery. All rights reserved.</p>
        <div class="socials">
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-youtube-fill"></i></span>
        </div>
      </div>
    </footer>
    <script>
        
function classType(count){
    let clsType =0;
    
    if (count==0){
        document.getElementsByClassName("cbnt")[count].style.backgroundColor="#3d5cb8";
        document.getElementsByClassName("cbnt")[count].style.color="#ffffff";
        document.getElementsByClassName("cbnt")[1].style.color="#64748b";
        document.getElementsByClassName("cbnt")[2].style.color="#64748b";
        document.getElementsByClassName("cbnt")[1].style.backgroundColor="";
        document.getElementsByClassName("cbnt")[2].style.backgroundColor="";
        
    }
    else if (count==1){
        document.getElementsByClassName("cbnt")[count].style.backgroundColor="#3d5cb8";
        document.getElementsByClassName("cbnt")[count].style.color="#ffffff";
        document.getElementsByClassName("cbnt")[0].style.color="#64748b";
        document.getElementsByClassName("cbnt")[2].style.color="#64748b";
        document.getElementsByClassName("cbnt")[0].style.backgroundColor="";
        document.getElementsByClassName("cbnt")[2].style.backgroundColor="";
        
    }
    else if (count==2){
        document.getElementsByClassName("cbnt")[count].style.backgroundColor="#3d5cb8";
        document.getElementsByClassName("cbnt")[count].style.color="#ffffff";
        document.getElementsByClassName("cbnt")[1].style.color="#64748b";
        document.getElementsByClassName("cbnt")[0].style.color="#64748b";
        document.getElementsByClassName("cbnt")[1].style.backgroundColor="";
        document.getElementsByClassName("cbnt")[0].style.backgroundColor="";

    }
}
      document.getElementById("search-submit").addEventListener("click", function(event) {
        const fromLocation = document.getElementById("fromLocation").value;
        const toLocation = document.getElementById("toLocation").value;
        const departureDate = document.getElementById("departuredate").value;
        const returnDate = document.getElementById("returndate").value;

        if (fromLocation || toLocation || departureDate || returnDate|| !fromLocation || !toLocation || !departureDate || !returnDate ) {
          alert("Please Login"); 
        }
        
      });

      function thanks_msg(){
        const email=document.getElementById("subscribe_email").value;
        if(!email ){
            alert("Please enter an email address");
        }else{
            alert("Thank you for subscribing!");
        } 
      }
      function login_msg(){
        alert("Please Login"); 
      }
    </script>
  </body>
</html>
