 <!-- Title : FLIGHT BOOKING
 Author : TAMILARASAN M
 Created At : 24-03-2024
 Last Modified Date : 08-06-2024
 Reviewed By :
 Review Date : -->

<app-nav></app-nav>
<div class="pay_body">
  <div class="pay_container">
    <div class="pay_header"><h1>PAYMENT</h1></div>
    <div class="pay_info">
      <form class="payment_form" (submit)="handleSubmit($event)">
        <div>
          <label for="CardNumber">Card Number</label>
          <input
            type="number"
            class="big-btn"
            name="CardNumber"
            id="CardNumber"
            placeholder="Enter Card Number"
            [(ngModel)]="cardNumber"
            required
          />
        </div>
        <div>
          <label for="CardHolder">Card Holder</label>
          <input
            type="text"
            class="big-btn"
            name="CardHolder"
            id="CardHolder"
            placeholder="Enter Card Holder"
            [(ngModel)]="cardHolder"
            required
          />
        </div>
        <div>
          <label for="ExpirationMM">Expiration MM</label>
          <label for="Expirationyy">Expiration YY</label>
          <label for="CVV">CVV</label>
          <label for="Price">Total Price</label>
        </div>
        <div>
          <input
            type="number"
            class="under-input"
            name="ExpirationMM"
            id="ExpirationMM"
            placeholder="Enter Exp MM"
            min="1"
            max="12"
            [(ngModel)]="expirationMM"
            required
          />
          <input
            type="number"
            class="under-input"
            name="Expirationyy"
            id="Expirationyy"
            placeholder="Enter Exp YY"
            min="2024"
            max="2050"
            [(ngModel)]="expirationYY"
            required
          />
          <input
            type="number"
            class="under-input"
            name="CVV"
            id="CVV"
            placeholder="Enter CVV"
            [(ngModel)]="cvv"
            required
          />
          <p class="Total_Price" id="tp">{{ flightPrice }}</p>
        </div>
        <div class="pay_btn">
          <button type="submit" id="pay-submit">SUBMIT</button>
        </div>
      </form>
    </div>
    <img src="/images/bankCard.png" alt="PAYMENT" class="pay1-img" />
  </div>
</div>
