
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

 * {
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .confirm-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
 }

 .confirm-box {
     text-align: center;
     padding: 20px;
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .check-img img {
     width: 100px;
     height: auto;
 }

 .btn-link {
     text-decoration: none;
 }

 .btn {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
 }

 .btn:hover {
     background-color: #0056b3;
 }
