 <!-- Title : FLIGHT BOOKING
 Author : TAMILARASAN M
 Created At : 24-05-2024
 Review Date :
 Last Modified Date : 08-011-2024
 Reviewed By : -->

<div class="confirm-body">
  <div class="confirm-box">
    <div class="check-img" style="margin-left: 0px;">
      <img src="/images/products/green-check.jpg" alt="green-check" />
    </div>
    <span>Order Id : {{orderId}}</span>
    <h2 style="margin-left: 0px; margin-top: 20px;">Your order has been placed Successfully</h2>
    <h2 style="margin-left: 0px;">Thanks!</h2>
    <a [routerLink]="['/']"  class="btn-link">
      <button type="button" class="btn" style="margin-top: 10px;">
        Back to Home
      </button>
    </a>
  </div>
</div>
